body {
  background-color: #272e66;
  border: 5px solid var(--border);
  margin: 5px;
}
:root {
  --border: rgb(245, 210, 210);
}
header {
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-bottom: 5px solid var(--border);  
}
#bio-image {
  width: 200px;
  height: auto;
  display: block;
  margin: 5px 0px 0px 600px;
  border: 2px solid var(--border);
}
h1 {
  margin: 5px 0px 0px 280px;
  color: white;
  text-align: center;
  font-size: 24px;
}
nav {
  padding-top: 200px;
  margin-right: 15px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}
.hero-banner {
  background-image: url(../images/Hero\ Tag.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  color: white;
  border-bottom: 5px solid var(--border);
}
h3 {
  color: white;
  text-align: center;
  border-bottom: 2px solid var(--border); 
  width: 200px;
  margin: 25px auto;
}
p {
  color: white;
  text-align: justify;
  margin: 10px;
}
#work {
  margin: 10px auto;
  display: grid;
  grid-template-rows: 300px 250px 250px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "project-1 project-1"
  "project-2 project-3"
  "project-4 project-5"
  ;
}
#project-1 {
  grid-area: project-1;
  background-image: url("../images/Project\ 1.jpg");
  border: 5px solid var(--border);
}
#project-2 {
  grid-area: project-2;
  background-image: url("../images/Project\ 2.jpg");
  border: 5px solid var(--border);
}
#project-3 {
  grid-area: project-3;
  background-image: url("../images/Project\ 3.jpg");
  border: 5px solid var(--border);
 
}
#project-4 {
  grid-area: project-4;
  background-image: url("../images/Project\ 4.jpg");
  border: 5px solid var(--border);

}
#project-5 {
  grid-area: project-5;
  background-image: url("../images/Project\ 5.jpg");
  border: 5px solid var(--border);
  
}
.categoryGridArea {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.heading {
  background-color: #5c81f0;
  padding: 5px;
  height: 20px;
  text-align: center;
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
li {
  color: white;
  display: inline-block;
  padding: 5px;
}
a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  display: inline-block;
  background-color: rgb(46, 100, 126);
  padding: 2px;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  transition: 0.3s;
}
#work :hover {
    border: white;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 0px;
    transition: 0.3s;
}
@media only screen and (max-width: 1000px) {
  #work {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "project-1"
      "project-2"
      "project-3"
      "project-4"
      "project-5"
    ;
  }
}